@charset "utf-8";
/* CSS Document */

@media (min-width:1200px){
footer .col-xs-12{padding:0;}
}

@media only screen and (max-width : 1024px) {
.container{width:100%; float:left;}
.inner-content{margin-top:48px;}
.navbar > .container .navbar-brand{padding: 9px 15px 5px;}
.login-state .dropdown-menu{min-width:256px; right:-22px;}
.navi-div{margin-right:20px;}
.app-on-stores{padding: 40px 0;}
.block{display:inline;}
.footer-fixed footer{position:inherit; bottom:inherit;}
.pulse-app, .bx-wrapper .bx-viewport{background:none;}
.portfolioFilter{margin-top:30px;}
.portfolioFilter ul li{padding:0 15px;}
.latest-comment-art, .comments-on-article, .comment-background, .article-detail-comment{width:100%;}
.user-nav:after{left:inherit; right:12px;}
.consent-select-box li span{padding-right:5px;}
#owl-demo .item{height:90px;}
.interest-box .interest-detail .delete img{margin-top:1px;}
#beat-videos .select-video li, #consent-frm .select-video li{margin:0 0 15px 30px; width:90%;}/*25 june*/
/* .row{margin:0;} 
.container{padding-left:12px; padding-right:12px;} */

}
@media (min-width:990px) and (max-width:1200px) {
.share-article .edit-article-form fieldset .form-control { width: 62%; }
}
@media (min-width:768px) and (max-width:991px) {
.slide-text h2, .app-on-stores h2{font-size:32px;}
.device{min-height:460px;}
.device-text{width:90%;}
.device-text h2{font-size:32px; line-height:38px; margin: 90px 0 0;}
.slide-text p{font-size:16px;}
.device > span{right:-110px;}
.device > span img {width: 80%;}
.product-details{background-size:100% auto;}
.txt-block.block1:before{height:150px;}
.txt-block.block1 {left: 24%; padding-right: 7px; top: 10px; width: 50%;}
.txt-block.block2{margin-top: 220px; width:50%; left:0;}
.txt-block.block2:before{height:110px;}
.txt-block.block2:after {bottom:32px;}
.txt-block.block3:before{top: 50px; height:92px;}
.txt-block.block3:after{top:45px;}
.txt-block.block3 p {padding: 42px 0 0;}
.txt-block.block4{right:32%; margin-top: 320px; padding: 20px 0 0 7px;}
.txt-block.block4:after{bottom:15px;}
.txt-block.block4:before {height:145px;}
.txt-block.block4 > p { padding-top: 30px;}
.app-on-stores{bottom:0;}
.app-on-stores ul li{width:100%; margin-bottom:10px;}
.device-text h2{font-size:24px;}
.footer-left ul{width: 35%;}
.footer-left ul:nth-child(2){width:30%;}
.device .slide-image .bx-wrapper .bxslider1 li{width:237px !important;}
.device .slide-image{right:inherit; width:100%; float:left; background-size:420px auto; background-position:center top; top:20px; position:relative; overflow:hidden; border-bottom:1px solid #c6c6c6;}
.device .slide-image .bx-wrapper{max-width:237px !important; top:76px; left:-47px;}
.device-text{width:100%; float:left;}
.device-text h2{font-size:20px; line-height:26px; text-align:center; margin-bottom:10px;}
.app-on-stores{position:relative; bottom:inherit;}
.app-on-stores{width:100%; float:left; padding:40px 15px 10px;}
.app-on-stores ul{text-align:center; margin:auto; width:100%;}
.app-on-stores ul li{width:48%; float:left; margin-right:10px;}
.app-on-stores ul li:first-child{text-align:right;}
.app-on-stores ul li:last-child{margin:0; text-align:left;}
.app-on-stores ul li img{height:auto;}
.articleContainer .block,.load_div .block{width:47.8%; margin:0 1% 15px;}
.article-info{width:100%; float:none;}
.article-info h3{width:100%;}
.inner-content .article-info h2{clear:both;}
.edit-article, .report-article,.delete-article{float:left; margin:5px 0 10px; position:relative;}
.delete-article { right: -10px; }
.edit-article-form fieldset .form-control{width:83.2%;}
.edit-article-form textarea, .edit-article-form label.desc{min-height:115px;}
.share-article .edit-article-form input[type="text"]{width:62%; height:40px;}
.share-article .edit-article-form fieldset .form-control{width:62%; height:40px;}
.share-article .edit-article-form textarea{width:62%;}
.share-edit{margin-left:0;}
.share-edit .link-form{margin-left:10px;}
.article-detail-content{padding-left:20px;}
.slider-download .bx-wrapper .bx-next{margin-right:-70px !important;}
.inner-content{ padding-bottom:0; min-height:inherit;}
.signup, .profile-form, .latest-comment-art:last-child{margin-bottom:0; border-bottom:none;}
.nobdr{margin-bottom:0; border-bottom:none;}
.menu-links li, .menu-links .profile-state{margin:0 6px;}
#input{width:180px; right:25px; height:28px;}
#input input{width:170px; /* left:-200px; */}
#consent-form .modal-dialog{width:98%;}
.search-consent input.search-bar{width:83%;}
.consent-left{padding: 0 30px 0 15px;}
.consent-right{padding:0 20px 0 45px;}
.consent-select-box li{padding: 10px 8px 0;}
.consent-select-box input[type="checkbox"]:not(:checked) + label, .consent-select-box input[type="checkbox"]:checked + label{padding-left: 40px;}
.consent-select-box li{font-size:12px;}
.consent-select-box li span{padding-right:5px; font-size:12px;}
.add-consent .form-control, .select-video label{font-size:13px;}
.select-video label{text-overflow:ellipsis; overflow:hidden; white-space: nowrap;}
.upload-btn-group{float:left; clear:both;}
.file-upload-filename{float:left;}
.upload-btn-group .btn{min-width: 120px;}
.download-doc{width:15%; padding:20px 0 35px;}
.slider-download .owl-controls .owl-buttons div{top:40%;}
.slider-download .slider-inner{width:80%; padding: 15px 4% 0;}
.signup-form form{width:100%; float:left;}
}

@media (min-width:992px) and (max-width:1199px) {
.device .slide-image .bx-wrapper{left:-51px; top:88px;}
.inner-content{ padding-bottom:0; min-height:inherit; margin-bottom: 96px;}
.signup, .profile-form, .latest-comment-art:last-child{/* margin-bottom:0; */ border-bottom:none;}
.nobdr{margin-bottom:0; border-bottom:none;}
.articleContainer .block,.load_div .block{width:47.8%; margin:0 1% 15px;}
.latest-comment-art:last-child{margin-bottom:21px;}
}

@media (min-width:768px) and (max-width:1023px){
#beat-images .modal-dialog { margin-top: 30%;}
.follow-list .item-text {    width: 68%;}
.follow-list .item-follow-btn {    width: 20%;}
.ms-drop ul{overflow-x:hidden; overflow-y:scroll; float:left;}
/*#consent-form .modal-dialog{ max-height:280px; overflow:scroll; -webkit-overflow-scrolling: touch; position:fixed;}
.add-consent input.form-control#patientName{ float:left; height:auto; color:#f00; line-height:20px; border:1px solid red; opacity: 1;}*/
}
@media (min-width:768px) and (max-width:1024px) and (orientation:landscape){
 #beat-images .modal-dialog {  margin-top: 20%;  }}
@media screen and (max-width:767px) {
.article-info.logged h3{ float:left;}
#consent-form .modal-dialog,#report-Beat .modal-dialog{z-index:999999999; }
/*#consent-form .modal-dialog{ max-height:280px; overflow:scroll; -webkit-overflow-scrolling: touch; position:fixed;}
{ position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  overflow: auto;}
.form-control::-moz-placeholder{opacity:1;}
.form-control{float:left; position:static; transition:none;}

.consent-frm .form-group,.consent-frm .form-group input{ float:left; display:block;}
#consent-frm{ overflow:visible; float:left;}
.form-control.profession { position: static; }*/
/* form{ overflow:hidden;} */
.wrapper{position:relative;}
div#consent-form{-webkit-overflow-scrolling: touch;}
.form{float:left; width:100%;}
body{background:#eee;}
.row{margin:0;}
footer{bottom:inherit; position:inherit;}
.container{padding-left:12px; padding-right:12px;}
footer .col-xs-12{padding:0;}
.social-links{width:auto;}
footer p{text-align:left; padding-left:5px;}
.content{padding:30px 0; /* margin-top:60px; */ border-top:none; margin-bottom:0;}
.overlay-bg {background:#000000; width: 100%; height: 100%; opacity: 0.7; position: fixed; top:0; left:0; z-index: 1031;}
.navbar-right{float:right;}
.user-nav{width:250px; background:#fff; right:-260px; padding:0; z-index:1042; overflow-x:hidden; overflow-y:auto; top:5px;}
.user-nav:after, .navbar-nav li a.user-icon.active:after{left:inherit; right:30px; background:none;}
.user-nav ul{width:100%;}
.user-nav ul li:first-child{border-top: 1px solid #ebebeb;}
.home-links .user-nav ul li a{font-size:14px; background:url(../images/ico-menu-arrow.png) no-repeat 92% center; padding:7px 15px 10px;}
.home-links .user-nav ul li a:hover {color:#686767; background:url(../images/ico-menu-arrow.png) no-repeat 92% center #ebebeb;}
.navbar-default .navbar-nav > li > a.user-icon{margin:15px 5px 0 0;}
.menu-section{float:left;}
.menu-section li{padding:5px 10px;}
.menu-section .dropdown-menu{top:100%;}
.close-menu{background:url(../images/arrow-back.png) no-repeat right center; width:25px; text-indent:-9999px; height:25px; position:relative; right:15px; display:block; margin:12px 0; float:right;}
.links-nav{display:none;}
.home-links .user-nav ul li:last-child{border-bottom:1px solid #ebebeb; margin:0;}
.navbar-fixed-top{z-index:1032;}
.menu-links .profile-state{border:none; margin: 3px 0 0; padding: 0 5px 0 0;}
/* .dropdown-menu,  */
.links-mb{display:block;}
.home-links ul.submenu li a{padding:7px 15px 7px 25px;}
.home-links ul.submenu li:last-child{border:none;}
.home-links .dropdown{padding-top:5px; padding-right:0;}
.home-links ul.submenu li a{font-size:12px;}
.fl{float:left;}
.navi-div{float:left; margin:0;}
.navbar > .container .navbar-brand{padding:10px 0; margin-bottom:8px;}
.navbar-brand > img{transform: scale(0.9);}
.navbar-default .navbar-collapse{border:none;}
.social-menu > li{width:auto;}
.menu-links{margin:0 0 5px;}
.menu-links li{margin:3px 0; padding:0 5px 0 0;}
.profile-state{border:none; padding:0; float:none;}
.login-state{margin-top:0;}
.nonlogin-state{margin:2px 10px 10px 0;}
.nonlogin-state li{margin:3px 0; padding:0 10px 0 0;}
.login-state li{margin:3px 0; padding:0 5px 0 0;}
.login-state li.dropdown.open{float:none;}
.social-state{padding:0; margin:5px 0;}
.social-menu > li:first-child{width:100%;}
.social-state > li:first-child > a{margin-left:0;}
.navbar-nav .open .dropdown-menu{position:relative; min-width:240px; left:-10px; top:inherit;}
.navbar-nav .open .dropdown-menu:after{background:none;}
.navbar-nav .login-state .open .dropdown-menu > li > a{padding:4px 5px 4px 35px;}
.navbar-nav .login-state .open .dropdown-menu > li > a:hover{background-color:none; color:#003e96; background:url(../images/nav-sprite.png) no-repeat;}
.navbar-nav .login-state .open .dropdown-menu > li.beat a:hover{background-position:left 5px;}
.navbar-nav .login-state .open .dropdown-menu > li.consent a:hover{background-position:left -36px;}
.navbar-nav .login-state .open .dropdown-menu > li.invite a:hover{background-position:left -70px;}
.navbar-nav .login-state .open .dropdown-menu > li.about-us a:hover{background-position:left -110px;}
.navbar-nav .login-state .open .dropdown-menu > li.feed a:hover{background-position:left -150px;}
.navbar-nav .login-state .open .dropdown-menu > li.faqs a:hover{background-position:left -186px;}
.navbar-nav .login-state .open .dropdown-menu > li.terms a:hover{background-position:left -220px;}
.navbar-nav .login-state .open .dropdown-menu > li.setting a:hover{background-position:left -256px;}
.navbar-nav .login-state .open .dropdown-menu > li.logout a:hover{background-position:left -290px;}
/*.navbar-nav .notification-alert{padding:1px 0 0;}*/

.menuHeight{height:240px;}
#label label{margin:4px 0 0;}
#input{left:30px; right:inherit; width:260px;}
.profile-state{width:100%;}
.slide-text{width:96%; padding:0 2%; min-height:inherit; text-align:center;}
.bxslider li{min-height:210px;}
.slide-text p{font-size:15px; letter-spacing: -0.5px; line-height:22px;}
.slide-text h2, .slide-text.last h2{font-size:28px; text-align:center; margin:20px 0 0;}
.slide-text h2{font-size:22px;}
.inner-content{margin-top:78px; padding-bottom:0; margin-bottom:0;}
.inner-content h2{font-size:25px; padding:0 5px 10px;}
.bxslider li{background:none !important;}
.bx-wrapper .bx-pager{bottom:0px;}
.product-section, .down-arrow{display:none;}
.app-on-stores{position:relative; bottom:inherit;}
.app-on-stores h2{font-size:28px; padding:0 5px 10px;}
.app-on-stores ul{margin:10px 0 0;}
.app-on-stores ul li{padding:0 0 10px 0;}
.footer-left, .footer-right{width:100%; margin:0 0 10px;}
.footer-left ul{width:60%;}
.device{min-height:275px;}
.pulse-app .container{padding:0;}
.pulse-app{border-width:0;}
.device .slide-image{right:inherit; width:100%; float:left; background-size:320px auto; background-position:center top; top:20px; position:relative; overflow:hidden; border-bottom:1px solid #c6c6c6;}
.device .slide-image .bx-wrapper{top:58px; left:-34px;}
.device-text{width:100%; float:left;}
.device-text h2{margin:40px 10px 10px; font-size:22px; line-height:26px; text-align:center;}
.app-on-stores{width:100%; float:left; padding:40px 15px 10px;}
.app-on-stores ul{text-align:center; margin:auto; width:100%;}
.app-on-stores ul li{width:48%; float:left; margin-right:10px;}
.app-on-stores ul li:first-child{text-align:right;}
.app-on-stores ul li:last-child{margin:0; text-align:left;}
.app-on-stores ul li img{height:auto;}
.profile-box, .follow-box, .signup, .interest-section, .profile-form{border:1px solid #e3e3e3;}
.profile-box .col-md-12, .signup .custom-mb, .follow-box .custom-mb, .article-details-box .custom-mb{padding-left:8px; padding-right:8px;}
.notify h3, .follow-box h3{padding:0; font-size:20px;}
.item-text{width:70%;}
.item-text h4{display:inline-block; font-size:14px; padding-bottom:0;}
.item-text p{display:inline;}
.follow-box .item-text h4{font-size:18px;}
.follow-box .item-text p{font-size:13px; display:block;}
.signup{padding:15px 0px 30px;}
.signup h3{padding-left:0; font-size:16px;}
.signup .account-section{padding:10px 0 5px;}
.create-account p{padding:0 2px;}
.submit-box button, .submit-box .btn-submit{width:100%; min-width:inherit;}
.check-box{margin:10px 0;}
.show-pwd{display:none;}
.hint{width:22px; height:22px; font-size:11px; right:-22px; padding:0; top:12px; padding:2px 0 0;}
.hide-mb{padding:10px 0 0;}
.hide-mb .profile-info{display:none;}
.interest-section{padding:10px 5px 0; margin:0 0 30px 0;}
.inner-content .interest-box li{margin-bottom:15px; width:49%; height:inherit; margin:0 2% 15px 0;}
.inner-content .interest-box li:nth-child(2n){margin-right:0;}
.interest-box li .title{font-size:12px; padding: 8px 0 8px 4px; line-height:14px;}
.profile-mb{margin:0 0 30px 0;}
/* .profile-mb .profile-info{display:none;} */
.profile-mb .profile-box{margin:0; padding:10px 0 0; border-bottom:none;}
.profile-mb .profile-form{border:none; padding:0; background:none;}
.profile-mb .profile-form h3{padding:0 0 5px;}
.profile-form .form-1, .profile-form .form-2{width:100%; float:left; background:#fff; padding:0px 10px 10px; border: 1px solid #e3e3e3;}
.nomargin{margin:0;}
.profile-form .form-1{border-top:none; margin: 0 0 10px;}
.profile-form .form-2{border-bottom:none;}
.profile-form .form-2 h3{padding-top:15px;}
.profile-form h3{font-size:18px;}
.profile-btn{background:#fff; border:1px solid #e3e3e3; border-top:none;}
.btn-edit{float:left; margin:10px 0 20px;}
.edit-profile h2{padding-left:10px;}
.form-mb{padding: 0 2%; width: 96%;  float:left;}
.profile-mb .form-mb h3{padding-bottom:10px;}
.form-mb .required-field, .signup-form .required-field{left:-10px;}
.form-mb .hint{right:-22px;}
.btn-profile-group, .share-article .btn-profile-group.m10{margin-top:15px; float:left;}
.btn-profile-group .btn{margin:0 4px 0 0;}
.other-pro .profile-form .form-1 ul, .other-pro .profile-form .form-2 ul{border-bottom:none;}
.other-pro{display:block;}
.other-pro{margin:0 0 30px 0;}
.other-pro.profile-info{display:none;}
.other-pro .profile-form .form-1 h3, .other-pro .profile-form .form-2 h3{padding:15px 0 5px;}
.other-pro .profile-box{margin:0 0 10px 0; padding:10px 0 0;}
.other-pro .profile-form{border:none; padding:0; background:none;}
.profile-box{padding-bottom:0; margin-bottom:10px;}
.profile-box{padding: 5px;}/*25 June*/

.profile-box h3{font-size:18px;}
.profile-sub, .meta-info{padding:0px;}
.profile-details{margin: 0 0 10px; padding:0; float:right;}
.profile-details ul{float:right; margin:0;}
.other-pro ul{float:right; border-bottom: 1px solid #d8d8d8; border-top: 1px solid #d8d8d8; margin:10px 0 0;}
.inner-content .profile-details li{padding:9px 6px;}
.inner-content .profile-details li:first-child{/* border:none; */}
.portfolioFilter{margin:4px 0 0;}
.portfolioFilter ul li{padding:0 28px 0 0;}
.portfolioFilter ul li a{font-size:13px; padding:12px 0 5px;}
.portfolioFilter ul li:last-child{padding:0;}
.articleContainer .block,.load_div .block{float:left; width:100%; border:1px solid #e3e3e3; margin-bottom:10px; margin-left:0;}
.inner-content .article-info h2{font-size:16px; clear:both; padding:0;}
.article-info h2{width:auto;}
.tabs-panel{margin-bottom:20px;}
.article-detail-outer{width: 100%; border:none; margin:0;}
.article-details-box{margin:0 0 10px; border:1px solid #e3e3e3; padding:0 0 10px;}
.article-details-box .article-listing{padding-top:10px;}
.article-details-box .article-listing figure{margin-right:10px;}
.slider-box{border:1px solid #e3e3e3; border-bottom:none;}
.article-listing{padding:10px;}
.add-comment textarea{min-height:100px;}
.btn-art-detail{float:left;}
.latest-comment-art, .comments-on-article{width:100%; padding:10px 0; border:1px solid #e3e3e3; margin:0 0 15px;}
.comments-on-article{border-top:none;}
.latest-comment-art figure{margin:0 10px 0 0; width:auto;}
.latest-comment-art > div{padding-left:5px; padding-right:5px;}
.article-detail-text{float:none; width:100%;}
.article-detail-comment{width:100%; padding-left:5px; padding-right:5px;}
.comment-background{width:100%; padding-left:8px; padding-right:8px; margin:5px 0 0;}
.article-detail-content{padding:0; float:none;}
.article-detail-content h3{font-size:13px; line-height:18px; padding:0;}
.article-info h3{line-height:16px; padding:10px 0 0; width:100%;}
.article-detail-content h2{font-size:18px; clear:both; display:block: width:100%;}
.article-detail-comment h5 span{display:block; margin:10px 0 0;}
.article-detail-comment h5 span img{margin-right:5px;}
.article-details-box .report-article{margin:10px 0; float:left;}
/*.add-comment h4 > span{display:none;}*/
.add-comment h4 .mb-text{display:none;}
.download-doc{border:none; margin:0; padding:20px 10px; font-size:14px; /* width:20%; */}
.slider-download{padding:10px 0;}
.edit-article-form{border-bottom:1px dashed #999;}
.edit-article-form .slider-download .bx-wrapper .bx-prev{left:5px;}
.edit-article-form .slider-download .bx-wrapper .bx-next{margin-right:-68px !important;}
.edit-article-form.m20{border-bottom:none;}
.article-meta{padding:10px 0;}
.article-info{float:none; width:100%;}
.edit-article, .report-article,.delete-article{float:left; margin:10px 0; position:relative;}
.delete-article{ right: -10px;}
.share-article{padding:10px;}
.share-article .edit-article-form{border:none;}
.edit-article-form .edit-article-outer label{width:34%; padding:9px 0 9px 6px; border-right:1px solid #d9d9d9;}
.edit-article-form .edit-article-outer .ms-drop label{border-right:none;} /*24 June*/
.share-article .edit-article-form input[type="text"]{width:64%; height:34px;}
.share-edit{margin:7px 0 0;}
.share-article .edit-article-form fieldset .form-control, .edit-article-form fieldset .form-control{width:64%; height:34px;}
.share-article #addbeat .edit-article-form fieldset .form-control, .edit-article-form fieldset .form-control{width:66%;} /*24 June*/
.edit-article-outer{border:none; border-radius:0;}
.edit-article-form fieldset, .edit-article-form fieldset:last-child{border:1px solid #ddd; margin:0 0 5px; border-radius:5px;}
.edit-article-form label.desc{min-height:34px;}
.share-article .edit-article-form textarea, .edit-article-form textarea{width:64%; min-height:inherit; height:45px; padding:8px 10px; /* text-overflow:ellipsis; */}
.share-article .select-box span.customSelect, .edit-article-outer .select-box span.customSelect{line-height:34px;}
.slider-article{max-width:156px;}
.edit-article-form input[type="text"]{width:64%; height:34px; text-overflow:ellipsis;}
.add-article{padding:20px 10px 25px;}
.add-more{margin: 20px 5px 15px 6px; width:90px; float:none; margin:auto;}
.add-more span{font-size:10px;}
.my_modal{max-width: 290px; margin-left: -145px; padding:10px 0;}
.my_modal h1{font-size:26px; margin:10px 0;}
.logged-in, .login-links a{font-size:12px;}
.login-form label{font-size:12px; width:34%; border-right: 1px solid #d9d9d9;}
.login-form input[type="text"], .login-form input[type="password"]{font-size:12px; width:64%;}
.logged-in, .log-details{margin:10px 0;}
.login-links{margin:10px 0 0;}
.signup-form{float:left; padding:0 2%; width:96%;}
.profile-form .account-section .form-control, .ms-choice, .signup-form .form-control{width:99%;}
.file-input{right:3px;}
.signup-form .ms-choice > div{right:14px;}
#add-image .modal-dialog, #report-beat .modal-dialog{width:auto;}
.slider-download .slider-inner{margin:0;   }
#report-beat .modal-dialog{top:10px;}
.report-beat{padding:0; width:100%;}
.report-beat h2{font-size:18px; padding:0 0 10px;}
.report-beat p{font-size:13px;}
.report-beat .form-group .dropdown, .report-beat textarea{padding: 8px 0 8px 8px; font-size:13px;}
.report-beat textarea{max-height:160px;}
.report-beat i{margin:10px 5px 0;}
.report-beat .form-group .dropdown .selected{font-size:13px; line-height:22px;}
.report-beat .form-group .dropdown .carat, .report-beat .form-group .dropdown.open .carat{top:6px;}
.report-beat .form-group .dropdown li{padding:4px 6px 4px 8px; font-size:13px;}

#consent-form .modal-dialog{width:100%; padding:0 2%; margin:0;}
.consent-select-box{max-height:225px;}
.consent-beat{padding:0 0 10px;}
.consent-left{width:100%; padding:0; border:none;}
.consent-right{width:100%; padding:0;}
.search-consent input.search-bar{width:83%;}
.consent-select-box li{padding: 10px 8px 0;}
.consent-select-box input[type="checkbox"]:not(:checked) + label, .consent-select-box input[type="checkbox"]:checked + label{padding-left: 40px;}
.consent-select-box li{font-size:12px;}
.consent-select-box li span{padding-right:5px; font-size:12px;}
.add-consent .form-control, .select-video label{font-size:13px;}
.select-video li{padding:8px;}
.select-video label{text-overflow:ellipsis; /*overflow:hidden;*/ white-space: nowrap; padding-left:30px; padding:0 12px 0 30px; height:30px;}
/*.select-video label:before{left:0;}*/
.remove_field{right:5px;}
.upload-btn-group{float:left; clear:both;}
.file-upload-filename{float:left;}
.upload-btn-group .btn{min-width: 120px;}
.download-doc{width:100%; display:block; padding:0; float:none; margin:auto;}
.slider-download .slider-inner{width:90%; padding:15px 6% 0; float:none; margin:auto;}
.slider-download .owl-controls .owl-buttons div{top:40%;}
.slider-download .owl-controls .owl-buttons .owl-prev{left:-24px;}
.slider-download .owl-controls .owl-buttons .owl-next{right:-28px;}
.interest-box .interest-detail .delete img{margin-top:1px;}
.interest-box li .inner-box, .interest-box li:first-child .inner-first-box{ height:150px;}
.ms-parent .ms-choice > span{right:26px;}

#beat-images .modal-dialog{width:96%; padding:0 2%; margin:0;}
#beat-images .col-md-12{padding:0;}
.upload-preview li{width:122px; height:auto; margin:0 2% 10px 0;}
.upload-preview li .beat-inner-box{height:140px;}
.file-upload-wrap{float:left;}
#beat-videos .modal-dialog{width:96%; padding:0 2%;}
#beat-videos .modal-dialog .col-md-12{padding:0;}
#beat-videos .upload-btn-group .btn{min-width:115px;}
.share-edit{ width:100%;}
}

@media only screen and (min-width: 800px) and (max-width: 1023px) {
.articleContainer .block,.load_div .block{width:384px; margin: 0 8px 15px;}
}

@media screen and (max-width:767px) and (orientation:landscape){
.item-text{margin-top:12px;}
}

@media only screen and (max-width : 320px){
.share-article .btn-profile-group.m10{float:left; margin-bottom:5px; width:100%;}
.upload-btn{max-width: 180px;}
.upload-file{padding-bottom:10px;}
.submit-box{max-width:200px;}
.upload-box{min-height:170px; background-size:100px auto;}
.article-detail-content h3 span, .article-info h3 span{display:block;}
.select-box select.select, .select-box span.customSelectInner{width:251px !important;}
#owl-demo .item{height:74px;}

}
@media only screen and (min-width:479px) and (max-width : 736px){
#report-Beat .modal-content {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    float: left;
    
    outline: 0 none;
    /*max-height: 300px;
    overflow: scroll;
    position: fixed;*/
    width: 100%; top:15px;
}}

@media only screen and (min-width:480px) and (max-width : 640px){
#owl-demo .item{height:88px;}

.upload-preview li{width:122px; height:auto; margin:0 2% 10px 0;}
.upload-preview li:nth-child(3n){margin-right:0;}
.follow-list .item-follow-btn{width:100%;}
}

@media only screen and (min-width: 360px) and (max-width: 479px) {
.slider-download .slider-inner{margin-left:20px;}
}

@media only screen and (min-width: 360px) and (max-width: 480px) {
.slider-download .slider-inner{margin-left:20px;}
.share-article .btn-profile-group.m10 { width: 100%; }
}

@media (min-width:600px) and (max-width:960px) and (orientation:landscape){
.articleContainer .block,.load_div .block {width:47.8%; margin:0 1% 15px;}
.slider-download .slider-inner{margin-left:10px;}
}

@media (min-width:600px) and (max-width:767px) and (orientation:portrait){
.signup-form .ms-choice > div {right: 22px;}
#owl-demo .item, .slider-download .owl-item .item img{height:auto;}
}

@media screen and (max-width:414px) {
.share-edit{ width:100%;}

}
@media (min-width:360px) and (max-width:767px) and (orientation:landscape){
.form-1 .ms-choice > div {
    right: 22px;
}

}
@media screen and (max-width:720px) {
.follow-list .item-text {    width: 56%;}
.follow-list .item-follow-btn {    width: 28%;}
}
@media screen and (max-width:480px) {
.follow-list .item-follow-btn{width:100%;}
.follow-list .item-follow-btn a.follow-btn {    margin: 10px 0;}
}

