<?php
if(isset($data) && !empty($data)){
    foreach ($data as $value) {
         ?>
        <div class="cateogaryCell" data-id="<?php echo $value['id']; ?>"><?php echo $value['name']; ?></div>
        <?php
    }
}else{
    echo '<span>No Record Found !!</span>';
}

?>