<p>Image Upload: </p>
<form name="formImgUpload" action="/userwebservices/userProfile" method="post" enctype="multipart/form-data">
	
	<input type="file" name="fileImg">
	<br />
	<input type="submit" name="upload" value="Upload">
</form>