/*
Template Name: Monster Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
/*
Template Name: Monster Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
@import 'https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900';
/*Theme Colors*/
/*bootstrap Color*/
/*Light colors*/
/*Normal Color*/
/*Extra Variable*/
/*Preloader*/
.preloader {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 99999;
  background: #fff;
}

.preloader .cssload-speeding-wheel {
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}

.topbar {
  background: #fff;
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}

/*******************
/*General Elements
*******************/
a.link:hover, a.link:focus {
  color: #0067b6 !important;
}

.bg-theme {
  background-color: #0067b6 !important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #0067b6;
  border-color: #0067b6;
}

.right-sidebar .rpanel-title {
  background: #0067b6;
}

.stylish-table tbody tr:hover, .stylish-table tbody tr.active {
  border-left: 4px solid #0067b6;
}

.text-themecolor {
  /* color: #0067b6 !important; */
}

.profile-tab li a.nav-link.active,
.customtab li a.nav-link.active {
  border-bottom: 2px solid #0067b6;
  color: #0067b6;
}

.profile-tab li a.nav-link:hover,
.customtab li a.nav-link:hover {
  color: #0067b6;
}

/*******************
/*Buttons
*******************/
.btn-themecolor,
.btn-themecolor.disabled {
  background: #0067b6;
  color: #ffffff;
  border: 1px solid #0067b6;
}

.btn-themecolor:hover,
.btn-themecolor.disabled:hover {
  background: #0067b6;
  opacity: 0.7;
  border: 1px solid #0067b6;
}

.btn-themecolor.active, .btn-themecolor:focus,
.btn-themecolor.disabled.active,
.btn-themecolor.disabled:focus {
  background: #028ee1;
}

/*******************
/*sidebar navigation
*******************/
.sidebar-nav {
  background: #fff;
}

.sidebar-nav ul li a {
  color: #54667a;
}

.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
  color: #10a5da;
}

.sidebar-nav ul li a.active {
  color: #263238;
}

.sidebar-nav ul li.nav-small-cap {
  color: #90a4ae;
}

/* .sidebar-nav  ul > li.active > a {
  border-left: 3px solid #005FB9;
  color: #005FB9;
  background: #ffffff;
} */

/* .sidebar-nav  ul > li.active > a i {
  color: #005FB9;
} */
.sidebar-nav ul > li.active > a i, .sidebar-nav ul > li.active > a span {
    color: #52677a;
    font-weight: 600;
}

/* .sidebar-nav  ul > li > a {
  border-left: 3px solid #fff;
} */
.sidebar-nav  ul > li > a {
  position: relative;
}

/* .sidebar-nav  ul > li > a.active, .sidebar-nav > ul > li > a:hover {
  border-left: 3px solid #005FB9;
} */
.sidebar-nav  ul > li > a.active::before, .sidebar-nav > ul > li > a:hover::before, .sidebar-nav ul li.active a::before {
  width: 4px;
  height: 100%;
  background: #10a5da;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.sidebar-nav  ul > li > a.active i, .sidebar-nav > ul > li > a:hover i {
  color: #005FB9;
}

.sidebar-nav > ul > li > a i {
  color: #9FA9BA;
  margin-right: 4px;
}

.sidebar-nav > ul > li > a.active {
  font-weight: 600;
  background: #ffffff;
  color: #54698d;
}

.sidebar-nav ul li.active .sub-menu li a.active i, .sidebar-nav ul li.active .sub-menu li a.active .title {
	/* color: #54667a; */
}
.sidebar-nav ul li.active .sub-menu li.active a.active i, .sidebar-nav ul li.active .sub-menu li.active a.active .title {
	/* color: #005FB9; */
}

.window_history{
    cursor: pointer;
    float: left;
    width: 5%;
    padding: 1.3% !important;
}
.window_history ~ h3 {
  border-left: 2.5px solid #F2F5F8;
}
