@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?13622052');
  src: url('../fonts/fontello.eot?13622052#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?13622052') format('woff2'),
       url('../fonts/fontello.woff?13622052') format('woff'),
       url('../fonts/fontello.ttf?13622052') format('truetype'),
       url('../fonts/fontello.svg?13622052#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?13622052#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-circle-plus-icon:before { content: '\e800'; } /* '' */
.icon-link-icon:before { content: '\e801'; } /* '' */
.icon-search-icon:before { content: '\e802'; } /* '' */
.icon-view-icon:before { content: '\e803'; } /* '' */
.icon-logo-ocr:before { content: '\e804'; } /* '' */
.icon-login-arrow:before { content: '\e805'; } /* '' */
.icon-up:before { content: '\e806'; } /* '' */
.icon-down:before { content: '\e807'; } /* '' */
.icon-contact:before { content: '\e808'; } /* '' */
.icon-edit-icon:before { content: '\e809'; } /* '' */
.icon-notification-icon:before { content: '\e80a'; } /* '' */
.icon-logo-bleep:before { content: '\e80b'; } /* '' */
.icon-phone:before { content: '\e80c'; } /* '' */
.icon-check-double:before { content: '\e80d'; } /* '' */
.icon-accept:before { content: '\e80e'; } /* '' */
.icon-android-logo:before { content: '\e80f'; } /* '' */
.icon-apple-logo:before { content: '\e810'; } /* '' */
.icon-back-arrow:before { content: '\e811'; } /* '' */
.icon-enter-chat:before { content: '\e812'; } /* '' */
.icon-pin2:before { content: '\e813'; } /* '' */
.icon-smily:before { content: '\e814'; } /* '' */
.icon-group-chat:before { content: '\e815'; } /* '' */
.icon-reject:before { content: '\e816'; } /* '' */
.icon-add-group:before { content: '\e817'; } /* '' */
.icon-dots-menu:before { content: '\e818'; } /* '' */
.icon-lens-search:before { content: '\e819'; } /* '' */
.icon-envelope:before { content: '\e81a'; } /* '' */
.icon-lock:before { content: '\e81b'; } /* '' */
.icon-clip2:before { content: '\e81c'; } /* '' */
.icon-send_arrow:before { content: '\e81d'; } /* '' */
.icon-callout:before { content: '\e81e'; } /* '' */
.icon-question-mark:before { content: '\e81f'; } /* '' */
.icon-logout2:before { content: '\e820'; } /* '' */
.icon-setting:before { content: '\e821'; } /* '' */
.icon-user_add:before { content: '\e822'; } /* '' */
.icon-user2:before { content: '\e823'; } /* '' */
.icon-trash2:before { content: '\e824'; } /* '' */
.icon-pencil-added:before { content: '\e825'; } /* '' */
.icon-ic-about:before { content: '\e826'; } /* '' */
.icon-ic-feedback:before { content: '\e827'; } /* '' */
.icon-send-request:before { content: '\e828'; } /* '' */
.icon-sound-notification:before { content: '\e829'; } /* '' */
.icon-send-request02:before { content: '\e82a'; } /* '' */
.icon-sent-request02:before { content: '\e82b'; } /* '' */
.icon-request-accepted02:before { content: '\e82c'; } /* '' */
.icon-request-geolocation02:before { content: '\e82d'; } /* '' */
.icon-send-request03:before { content: '\e82e'; } /* '' */
.icon-mbphone:before { content: '\e82f'; } /* '' */
.icon-icon-search-ocr:before { content: '\e830'; } /* '' */
.icon-icon-postbeat-ocr:before { content: '\e831'; } /* '' */
.icon-icon-notification-ocr:before { content: '\e832'; } /* '' */
.icon-icon-options-ocr:before { content: '\e833'; } /* '' */
.icon-icon-comments-ocr:before { content: '\e834'; } /* '' */
.icon-icon-playvideo-ocr:before { content: '\e835'; } /* '' */
.icon-icon-reload-ocr:before { content: '\e836'; } /* '' */
.icon-icon-share-ocr:before { content: '\e837'; } /* '' */
.icon-icon-downheart-ocr:before { content: '\e838'; } /* '' */
.icon-icon-upheart-ocr:before { content: '\e839'; } /* '' */
.icon-icon-docfile-ocr:before { content: '\e83a'; } /* '' */
.icon-icon-xlsfile-ocr:before { content: '\e83b'; } /* '' */
.icon-icon-pdffile-ocr:before { content: '\e83c'; } /* '' */
.icon-icon-pptfile-ocr:before { content: '\e83d'; } /* '' */
.icon-api-downarrow:before { content: '\e83e'; } /* '' */
.icon-api-cross:before { content: '\e83f'; } /* '' */
.icon-apiarrowright:before { content: '\e840'; } /* '' */
.icon-icon-notification-ocrwebapp:before { content: '\e841'; } /* '' */
.icon-icon-heartup-ocrwebapp:before { content: '\e842'; } /* '' */
.icon-icon-heartdown-ocrwebapp:before { content: '\e843'; } /* '' */
.icon-apicopy:before { content: '\e844'; } /* '' */
.icon-spamicon:before { content: '\e845'; } /* '' */
.icon-spamicon2:before { content: '\e846'; } /* '' */
.icon-videocall:before { content: '\e847'; } /* '' */
.icon-voicecall:before { content: '\e848'; } /* '' */
.icon-videocall2:before { content: '\e849'; } /* '' */
.icon-videocall3:before { content: '\e84a'; } /* '' */
.icon-deleteuser:before { content: '\e84b'; } /* '' */
.icon-contactnew:before { content: '\e84c'; } /* '' */
.icon-moremenu:before { content: '\e84d'; } /* '' */
.icon-sigleunread:before { content: '\e84e'; } /* '' */
.icon-sucess-check:before { content: '\e84f'; } /* '' */
.icon-camera-new:before { content: '\e850'; } /* '' */
.icon-location-new:before { content: '\e851'; } /* '' */
.icon-members:before { content: '\e852'; } /* '' */
.icon-groupiconnew:before { content: '\e853'; } /* '' */
.icon-newcalender:before { content: '\e854'; } /* '' */
.icon-colleaguerequestaccepted-over:before { content: '\e855'; } /* '' */
.icon-colleagueadd-over:before { content: '\e856'; } /* '' */
.icon-colleaguerequesthover-over:before { content: '\e857'; } /* '' */
.icon-colleaguerequestsend-over:before { content: '\e858'; } /* '' */
.icon-leavegroupicon:before { content: '\e859'; } /* '' */
.icon-priorityicon:before { content: '\e85a'; } /* '' */
.icon-zoomicon:before { content: '\e85b'; } /* '' */
.icon-cropicon:before { content: '\e85c'; } /* '' */
.icon-drawicon:before { content: '\e85d'; } /* '' */
.icon-closeimageediticon:before { content: '\e85e'; } /* '' */
.icon-redoicon:before { content: '\e85f'; } /* '' */
.icon-undoicon:before { content: '\e860'; } /* '' */
.icon-erasericon:before { content: '\e861'; } /* '' */
.icon-logo-box:before { content: '\e862'; } /* '' */
.icon-down-open-big:before { content: '\e863'; } /* '' */
.icon-up-open-big:before { content: '\e864'; } /* '' */
.icon-right-open-big:before { content: '\e865'; } /* '' */
.icon-left-open-big:before { content: '\e866'; } /* '' */
.icon-tagf3:before { content: '\e867'; } /* '' */
.icon-tagcardiology:before { content: '\e868'; } /* '' */
.icon-tagavailable:before { content: '\e869'; } /* '' */
.icon-tagoncall:before { content: '\e86a'; } /* '' */
.icon-taggrade:before { content: '\e86b'; } /* '' */
.icon-tagpro:before { content: '\e86c'; } /* '' */
.icon-tagavailable2:before { content: '\e86d'; } /* '' */
.icon-tagband:before { content: '\e86e'; } /* '' */
.icon-tagband2:before { content: '\e86f'; } /* '' */
.icon-tagpro2:before { content: '\e870'; } /* '' */
.icon-tagband3:before { content: '\e871'; } /* '' */
.icon-chating:before { content: '\e872'; } /* '' */
.icon-attach:before { content: '\e873'; } /* '' */
.icon-add-user-group:before { content: '\e874'; } /* '' */
.icon-addgroup-group:before { content: '\e875'; } /* '' */
.icon-delete-group:before { content: '\e876'; } /* '' */
.icon-downbeat-group:before { content: '\e877'; } /* '' */
.icon-search-group:before { content: '\e878'; } /* '' */
.icon-edit-group:before { content: '\e879'; } /* '' */
.icon-home-group:before { content: '\e87a'; } /* '' */
.icon-upbeat-group:before { content: '\e87b'; } /* '' */
.icon-dropdown-group:before { content: '\e87c'; } /* '' */
.icon-tick-group:before { content: '\e87d'; } /* '' */
.icon-attach-1:before { content: '\e87e'; } /* '' */
.icon-bell:before { content: '\e87f'; } /* '' */
.icon-video2-group:before { content: '\e880'; } /* '' */
.icon-tag2-group:before { content: '\e881'; } /* '' */
.icon-camera2-group:before { content: '\e882'; } /* '' */
.icon-th-large:before { content: '\e883'; } /* '' */
.icon-layout:before { content: '\e884'; } /* '' */
.icon-down-dir:before { content: '\e885'; } /* '' */
.icon-dot-3:before { content: '\e886'; } /* '' */
.icon-star-empty:before { content: '\e887'; } /* '' */
.icon-star:before { content: '\e888'; } /* '' */
.icon-heart-empty:before { content: '\e889'; } /* '' */
.icon-ok:before { content: '\e88a'; } /* '' */
.icon-heart:before { content: '\e88b'; } /* '' */
.icon-th-large-outline:before { content: '\e88c'; } /* '' */
.icon-inbox-alt:before { content: '\e88d'; } /* '' */
.icon-align-center:before { content: '\e88e'; } /* '' */
.icon-calendar:before { content: '\e88f'; } /* '' */
.icon-inbox:before { content: '\e890'; } /* '' */
.icon-ocr-dropdowndate:before { content: '\e891'; } /* '' */
.icon-ocr-dislike:before { content: '\e892'; } /* '' */
.icon-ocr-like:before { content: '\e893'; } /* '' */
.icon-ocr-articlesgrids:before { content: '\e894'; } /* '' */
.icon-ocr-articleslist:before { content: '\e895'; } /* '' */
.icon-ocr-managegroups:before { content: '\e896'; } /* '' */
.icon-ocr-managearticles:before { content: '\e897'; } /* '' */
.icon-ocr-create:before { content: '\e898'; } /* '' */
.icon-ocr-articles:before { content: '\e899'; } /* '' */
.icon-ocr-calender:before { content: '\e89a'; } /* '' */
.icon-cancel:before { content: '\e89b'; } /* '' */
.icon-premium:before { content: '\e89c'; } /* '' */
.icon-free_institution_icon:before { content: '\e89d'; } /* '' */
.icon-up-open:before { content: '\e89e'; } /* '' */
.icon-right-open:before { content: '\e89f'; } /* '' */
.icon-left-open:before { content: '\e8a0'; } /* '' */
.icon-down-open:before { content: '\e8a1'; } /* '' */
.icon-cog:before { content: '\e8a2'; } /* '' */
.icon-plus-circled:before { content: '\e8a3'; } /* '' */
.icon-plus-1:before { content: '\e8a4'; } /* '' */
.icon-cancel-circled2:before { content: '\e8a5'; } /* '' */
.icon-cancel-circled:before { content: '\e8a6'; } /* '' */
.icon-cancel-1:before { content: '\e8a7'; } /* '' */
.icon-ok-circled:before { content: '\e8a8'; } /* '' */
.icon-ok-circled2:before { content: '\e8a9'; } /* '' */
.icon-camera:before { content: '\e8aa'; } /* '' */
.icon-articlefeed:before { content: '\e8ab'; } /* '' */
.icon-inocr:before { content: '\e8ac'; } /* '' */
.icon-ininstitute:before { content: '\e8ad'; } /* '' */
.icon-ingroup:before { content: '\e8ae'; } /* '' */
.icon-mediccreationslogo:before { content: '\e8af'; } /* '' */
.icon-collapse:before { content: '\e8b0'; } /* '' */
.icon-expand:before { content: '\e8b1'; } /* '' */
.icon-trending:before { content: '\e8b2'; } /* '' */
.icon-datejoined:before { content: '\e8b3'; } /* '' */
.icon-subarticle:before { content: '\e8b4'; } /* '' */
.icon-down-open-1:before { content: '\e8b5'; } /* '' */
.icon-left-open-1:before { content: '\e8b6'; } /* '' */
.icon-right-open-1:before { content: '\e8b7'; } /* '' */
.icon-up-open-1:before { content: '\e8b8'; } /* '' */
.icon-ok-1:before { content: '\e8b9'; } /* '' */
.icon-lenssearch:before { content: '\e8ba'; } /* '' */
.icon-checkfilterarticle:before { content: '\e8bb'; } /* '' */
.icon-filterarticle:before { content: '\e8bc'; } /* '' */
.icon-search:before { content: '\e8bd'; } /* '' */
.icon-base_location:before { content: '\e8be'; } /* '' */
.icon-form-checked:before { content: '\e8bf'; } /* '' */
.icon-form-error:before { content: '\e8c0'; } /* '' */
.icon-eye:before { content: '\e8c1'; } /* '' */
.icon-eye-off:before { content: '\e8c2'; } /* '' */
.icon-eye-1:before { content: '\e8c3'; } /* '' */
.icon-pass-hide:before { content: '\e8c4'; } /* '' */
.icon-pass-view:before { content: '\e8c5'; } /* '' */
.icon-sub-menu:before { content: '\e8c6'; } /* '' */
.icon-sub-barcode:before { content: '\e8c7'; } /* '' */
.icon-sub-dashboard:before { content: '\e8c8'; } /* '' */
.icon-sub-notification:before { content: '\e8c9'; } /* '' */
.icon-sub-home:before { content: '\e8ca'; } /* '' */
.icon-sub-lense:before { content: '\e8cb'; } /* '' */
.icon-sub-pre-approved:before { content: '\e8cc'; } /* '' */
.icon-sub-admin-teams:before { content: '\e8cd'; } /* '' */
.icon-sub-groups:before { content: '\e8ce'; } /* '' */
.icon-sub-audit-trails:before { content: '\e8cf'; } /* '' */
.icon-sub-settings:before { content: '\e8d0'; } /* '' */
.icon-sub-device-info:before { content: '\e8d1'; } /* '' */
.icon-adminteam_icon:before { content: '\e8d2'; } /* '' */
.icon-approved_email_icon:before { content: '\e8d3'; } /* '' */
.icon-calendar-icon:before { content: '\e8d4'; } /* '' */
.icon-down_icon:before { content: '\e8d5'; } /* '' */
.icon-file_uploaded_icon:before { content: '\e8d6'; } /* '' */
.icon-group_icon:before { content: '\e8d7'; } /* '' */
.icon-home_icon:before { content: '\e8d8'; } /* '' */
.icon-settings_icon:before { content: '\e8d9'; } /* '' */
.icon-sucess_icon:before { content: '\e8da'; } /* '' */
.icon-up_icon:before { content: '\e8db'; } /* '' */
.icon-upload:before { content: '\e8dc'; } /* '' */
.icon-audit-trails-copy:before { content: '\e8dd'; } /* '' */
.icon-device-info:before { content: '\e8de'; } /* '' */
.icon-dashboard_icon:before { content: '\e8df'; } /* '' */
.icon-close_removefile_icon:before { content: '\e8e0'; } /* '' */
.icon-warning_icon:before { content: '\e8e1'; } /* '' */
.icon-plus:before { content: '\e8e2'; } /* '' */
.icon-qr-code:before { content: '\e8e3'; } /* '' */
.icon-mail:before { content: '\e8e4'; } /* '' */
.icon-oncalltransactions:before { content: '\e8e5'; } /* '' */
.icon-screenshot:before { content: '\e8e6'; } /* '' */
.icon-doc:before { content: '\e8e7'; } /* '' */
.icon-note:before { content: '\e8e8'; } /* '' */
.icon-mail-1:before { content: '\e8e9'; } /* '' */
.icon-mobile:before { content: '\e8ea'; } /* '' */
.icon-paper-plane:before { content: '\e8eb'; } /* '' */
.icon-datastudio:before { content: '\e8ec'; } /* '' */
.icon-powerbi:before { content: '\e8ed'; } /* '' */
.icon-reporticon:before { content: '\e8ee'; } /* '' */
.icon-spin5:before { content: '\e8ef'; } /* '' */
.icon-left-1:before { content: '\e8f0'; } /* '' */
.icon-right-1:before { content: '\e8f1'; } /* '' */
.icon-up-2:before { content: '\e8f2'; } /* '' */
.icon-down-2:before { content: '\e8f3'; } /* '' */
.icon-rightbaton-arrow:before { content: '\e8f4'; } /* '' */
.icon-leftbaton-arrow:before { content: '\e8f5'; } /* '' */
.icon-batonmainicon:before { content: '\e8f6'; } /* '' */
.icon-batonroleicon:before { content: '\e8f7'; } /* '' */
.icon-batonroletransfericon:before { content: '\e8f8'; } /* '' */
.icon-block:before { content: '\e8f9'; } /* '' */
.icon-popup:before { content: '\e8fa'; } /* '' */
.icon-clock:before { content: '\e8fb'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-logout:before { content: '\f02d'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-down-1:before { content: '\f175'; } /* '' */
.icon-up-1:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
