p{margin-top: 0.7rem !important;}
.left-section:first-child, .right-section:first-child{margin-top: -15px;}
.left-section:last-child, .right-section:last-child {margin-bottom: -30px;box-shadow: unset;}
.card.block{border-radius: 3px; padding: 15px; border: 1px solid rgba(235,235,239,1.0); font-size: 13px; color: #6a6a6a; box-shadow: unset; transition: all 0.3s; position: relative; height: 100%;}
.sub-section:hover, .sub-section.active{border-color: rgba(87, 122, 150, 0.7); box-shadow: 0 0 4px #b0c4d7;}
.sub-section.notActive{opacity: 0.3!important;}
.sub-section.notActive:hover{border-color: rgba(235,235,239,1.0)!important; box-shadow: unset!important;}
.sub-section.notActive:before{content: ''; display: block; position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 11;}
.sub-section.active{opacity: 1!important;}
.sub-section.unactive:hover{border-color: rgba(235,235,239,1.0); box-shadow: unset;}
.sub-section.unactive:before{content: ''; display: block; position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 11;}
.card.block a{color: #6a6a6a;}
.card.block .loader{position: absolute; z-index: 11;}
.card.block .card-title{margin: 0;padding: 0 0 30px 0;}
#audits .card-title{border-bottom: 1.5px solid #e1e1e4;}
#device-history .card-title{border-bottom: 1.5px solid #e1e1e4;}
#audits th{color:#535c63;background: #fafdfe;}
#device-history th{color:#535c63;}
.card.block .card-title h3{float: left;color: #001d4d;}
.card.block h3{margin: 0; font-size: 16px;}
.card.block .card-title .edit-link{float: right; margin: 5px 0 0 0;}
.card.block .card-title .edit-link i{color: rgba(58, 162, 199, 1.0); border-color: rgba(58, 162, 199, 1.0);}

div.user-img{text-align: center; border-right: 1px dashed #ededed;}
.card.block span.round{width: 74px; height: 74px; line-height: 70px; min-width: 74px; min-height: 74px; border-width: 2px; margin-bottom: 10px;}
.card.block span.round img{width: 74px; height: 74px;}

.card.block span.onCallMain{width: 74px; height: 74px; line-height: 70px; min-width: 74px; min-height: 74px; border-width: 2px; margin-top: 10px;}
.card.block span.onCallMain img{width: 70px; height: 70px;}

.row .padreduce{margin: 0 -5px;}
.row .padreduce > .col-lg-6, .row .padreduce > .col-lg-4, .row .padreduce > .col-lg-8, .row .padreduce > .col-md-12{padding: 0 5px; margin-bottom: 10px;}
.user-info-table th, .user-info-table td{padding: 5px 0; vertical-align: top;}
.user-info-table th{color: #9d9d9d; padding-right: 15px; font-weight: 300;}
.user-info-table td{color: #6a6a6a;}

.card.block .icon-pencil-added{border-bottom: 1px solid #6a6a6a; line-height: 12px; color: #000; padding-right: 2px; vertical-align: text-top; margin-left: 2px;}
.card.block .icon-pencil-added:before{margin: 0; font-size: 80%;}
.sub-section.disabled{opacity: 0.3;}
.sub-section.unactive{opacity: 0.3;}
.sub-section.active .card-note{display: none;}
.sub-section.active .card-update{display: block;}

#userInfoBlock .col-md-3{
	text-align: center;
}

.radioBtns-list{
	margin: 0 0 15px 0;
	padding: 0;
	list-style: none;
	display: -webkit-inline-box;
	width: 100%;
}
.radioBtns-list li{
	margin-right: 20%;
}
.radioBtns-list li:first-child{margin-top: 0;}
.radioBtns-list input{display: none;}
.radioBtns-list label{display: block; float: none; margin: 0; position: relative; padding: 0 0 0 24px; line-height: 1.4; cursor: pointer;}
.radioBtns-list label:before{content: ''; display: block; width: 13px; height: 13px; border: 1px solid #c7c7cd; border-radius: 50%; position: absolute; left: 0; top: 2px;}
.radioBtns-list input:checked + label:after{content: ''; display: block; width: 5px; height: 5px; background: rgba(18, 165, 213, 1.0); border-radius: 50%; position: absolute; left: 4px; top: 6px;}
.radioBtns-list input:checked + label:before{border: 1px solid rgba(18, 165, 213, 1.0);}

.card-footer{
	background: none;
  padding: 10px 0 10px 0;
  margin-bottom: 5px;
	border: unset;
}
.card-note{font-size: 11px; font-style: italic;}
.card-note label{float: left; margin: 0; line-height: inherit;}
.card-note .note-des{margin-left: 40px;}
.card-error{background: rgba(208,2,27,0.04); padding: 10px; margin-top: 7px; font-size: 11px; border-radius: 3px; display: none;}
.card-error label{color: #FF0000; margin: 0; float: none; display: inline-block; line-height: normal;}
.card-success{background: #e8f6f2; padding: 10px; margin-top: 7px; font-size: 11px; border-radius: 3px; display: none; color: #2cb58d;}

.card-update{position: relative; font-size: 11px; font-style: italic; display: none;}
.card-update p{margin: 0!important; padding: 0 70px 0 0;}
.card-update i.demo-icon{border: 1px solid rgba(189, 193, 200, 1); border-radius: 50%; width: 25px; height: 25px; line-height: 25px; text-align: center; display: inline-block; font-size: 7px; position: absolute; right: 0; top: -5px; cursor: pointer;}
.card-update i.demo-icon:before{margin: 0; width: auto; height: auto;}
.card-update i.demo-icon.icon-cancel{font-size: 12px; color: rgba(195, 8, 34, 1);}
.card-update i.demo-icon.icon-checkfilterarticle{right: 35px; color: rgba(5, 167, 119, 1);}

#user-expiry-date p{margin: 0 0 15px 0;}
#user-expiry-date .dateExpire{display: none; margin: 0;}
#user-expiry-date form{margin-bottom: 15px; padding: 5px 0;}
/* #user-expiry-date #datepicker{width: 200px;} */
#datepicker{width: 50%;}
#user-expiry-date .input-group .form-control{color: #C7C6C6; border-color: #D8DDE6; font-weight: 300; font-family: 'Open Sans', sans-serif; font-size: 12px; background: #FFF; opacity: 1;}
#user-expiry-date .input-group.date .input-group-addon{background: rgba(244,247,249,0.40); color: #10A5DA; }

.remove-ele-block{margin-bottom: 15px;}
.remove-ele-block p{margin: 0 0 5px 0;}
#removeUserBlock .btn-info.redBtCustom{
	background: rgba(208, 2, 27, 0.02);
  color: #d0021b;
  height: 30px;
  width: 140px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgba(208,2,27,0.28);
  font-weight: 300;
}
#removeUserBlock .btn-info.redBtCustom#removeReqBtn{width: 120px;}
#removeUserBlock .btn-info.whiteBtCustom{background: #FFFFFF; color: #898787; height: 30px; width: 120px; text-align: center; border-radius: 4px; border: 1px solid rgba(208,2,27,0.28); font-weight: 300; margin-left: 10px;}
.remove-ele-block img{float: left;}
.removeuser-des{margin-left: 70px;}
.remove-step-2{text-align: center; display: none;}
.remove-notify{background: rgba(208,2,27,0.04); padding: 10px 15px; font-size: 11px; font-style: italic; border-bottom: 1px solid #f3f3f5;}
.remove-error{font-size: 12px; color: #FF0000; margin: 10px 0;}

.sub-section.active .remove-ele-block{display: none;}
#removeUserBlock.card.block.active .card-footer{display: none;}
#removeUserBlock.sub-section.active .card-footer{display: none;}
.sub-section.active .remove-step-2{display: block;margin-bottom: 15px;}

#audits{padding: 0; box-shadow: unset; border-color: rgba(235,235,239,1.0); opacity: 1;}
#device-history{padding: 0; box-shadow: unset; border-color: rgba(235,235,239,1.0); opacity: 1;}
#audits:before{display: none;}
#device-history:before{display: none;}
#audits .card-title{padding-bottom: 0; margin: 15px 15px 0px 15px;}
#device-history .card-title{padding-bottom: 0; margin: 15px 15px 0px 15px;}
/* #audits .card-title h3{margin-left: 35px;} */
#audits thead{border-bottom:3px solid #f2f5f8;border-top:3px solid #f2f5f8;}
#audits tr:last-child {border-bottom:1px solid #f2f5f8;}
/* #device-history .card-title h3{margin-left: 35px;} */
#device-history thead{border-bottom:3px solid #f2f5f8;border-top:3px solid #f2f5f8;}
#device-history tr:last-child {border-bottom:1px solid #f2f5f8;}
#audits .card-title h3:first-child{margin-left: 0;}
#device-history .card-title h3:first-child{margin-left: 0;}
#audits .card-title h3 a{color: #001d4d; display: block; padding: 5px 25px 10px 10px; position: relative;}
#device-history .card-title h3 a{color: #001d4d; display: block; padding: 5px 25px 10px 10px; position: relative;}
#audits .card-title h3.active{}
#device-history .card-title h3.active{}
#audits .card-title h3.active a{color: #10a5da !important;}
#device-history .card-title h3.active a{color: #10a5da !important;}
#audits .card-title h3.active a:after{content: ''; position: absolute; height: 2px; background: #10a5da; width: 100%; left: 0; bottom: -2px;}
#device-history .card-title h3.active a:after{content: ''; position: absolute; height: 2px; background: #10a5da; width: 100%; left: 0; bottom: -2px;}

#ajaxDeviceHistoryContent{display: none;}
tr.edit-field{display: none;}
tr.edit-field input{border: none; border-bottom: 1px solid #e4e4e6; color: #6a6a6a; font-weight: 300; padding: 0; line-height: 1.0; font-family: 'Open Sans', sans-serif;}

.card.block#userInfoBlock.active .card-title .edit-link i{display: none;}
.card.block#userInfoBlock.active .card-title .card-update{display: block;}
.card.block#userInfoBlock.active #personalInformationAjax h3{display: none;}
.card.block#userInfoBlock.active tr{display: none;}
.card.block#userInfoBlock.active tr.no-hide, .card.block#userInfoBlock.active tr.edit-field{display: table-row;}

#pinfo-footer{display: none;}

.image-edit-link{display: inline-block; position: relative; overflow: hidden;}
.image-edit-link #btn_userProfile_file{position: absolute; left: 0; bottom: 0; width: 200px; height: 50px; opacity: 0; z-index: 0; color: transparent; cursor: pointer!important;}

#ajaxDeviceHistoryContent > span.pull-right{margin: 7px 15px 0;}

.history-dropdown{display: none;}

/* @media (max-width: 768px) {
	#audits .card-title{position: relative;}
	#device-history .card-title{position: relative;}
	#audits .card-title h3{float: none; margin: 0; display: none;}
	#device-history .card-title h3{float: none; margin: 0; display: none;}
	#audits .card-title h3.active{display: block;}
	#device-history .card-title h3.active{display: block;}
	.history-dropdown{position: absolute; right: 0; top: 5px; font-size: 25px; z-index: 1; display: block;}
	#audits .card-title h3 a{padding-left: 0;}
	#device-history .card-title h3 a{padding-left: 0;}
} */
/* ---------  */

.label-content.main-div {
	line-height: 2.5;
}

.label-dnd {
	color: #f84208;
}

.label-head{
	color: #979797;
}

.label-value{
	color: #606060;
}

.round img {
	margin-top: 10px !important;
}

.onCallMain.round img {
	margin-top: -3px !important;
}

#personalInformationAjax {
	padding: 5px;
	margin-bottom: 15px;
}

.sub-section{
	padding-top: 20px;
	box-shadow: 0px 5px 5px #eceeef;
}

ul.radioBtns-list div {
    width: auto;
    overflow-wrap: break-word;
    margin-right: 3%;
}

ul.radioBtns-list#userStatusAjax div {
    /* width: 33%; */
}

ul#userPermanentRole, ul#userbatonRole {
    list-style: none;
    padding: unset;
		height: 100px;
		overflow: auto;
}

ul#userPermanentRole li, ul#userbatonRole li{
	line-height: 2;
	width: 98%;
	padding: 5px;
}

ul#userbatonRole a {
    float: right;
    color: #10a5da;
}

ul#userbatonRole span.disabled {
		float: right;
    color: #828d9a;
}

ul#userbatonRole li:not(.no_record):hover, ul#userPermanentRole li:not(.no_record):hover {
    background: #f2f4f8;
    border-radius: 2px;
    padding: 5px;
}

li.no_record{
	text-align: center;
	margin-top: 25px;
}

.label-sub-div{
		padding-left: 25px;
		padding-right: 5px;
}

span.editPencil{
	float: right;
  margin-top: 8px;
	display: none;
	cursor: pointer;
}

.label-sub-div.editable:hover {
    background: #f5f9fb;
    color: #10a5da;
		cursor: pointer;
}
.label-sub-div.editable:hover span.editPencil {
	display: block;
}

.card-title.edit {
    margin: 0;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #e4e4e6;
}

span.userName {
    color: #455262;
    margin: 5px;
}

button.btn.btn-light-red {
	background: rgba(208, 2, 27, 0.02);
	border: 1px solid #f2b4bc;
	color: #d0021b;
	width: 30%;
	margin: 25px 0px 25px 15px;
}

button.btn-blueDef{
	width: 30%;
  margin: 25px 0px 25px 15px;
}

input.form-control.input-bottom-border {
    border: unset;
    border-bottom: 1px solid #d8dde6;
    width: 55%;
    border-radius: unset;
    margin-left: 15px;
		margin-right: 15px;
    vertical-align: bottom;
		color: #4a4a4a !important;
    padding-bottom: 0px;
    font-size: 13px;
}

i.fa.fa-check-circle.success-icon {
    color: #3bb626;
    font-size: 15px;
}

i.fa.fa-exclamation-circle.error-icon {
    color: #d0021b;
    font-size: 15px;
}
.error-msg{
	color: #d0021b;
}

span.error-icon.error-msg {
    float: left;
    margin-left: 25%;
}

#ajaxAvailableContent .btn.btn-success, #device-history .btn.btn-success {
    float: left;
    margin-left: 15px;
    background: rgba(16, 165, 218, 0.03);
    border: 1px solid rgba(16, 165, 218, 0.33);
    color: #10a5da;
}

#ajaxAvailableContent .card-note, #device-history .card-note {
    float: left;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-left: 15px;
    font-size: 14px !important;
}

#name_editor span.error-icon.error-msg{
	float: left;
  width: 100%;
  margin: 10px 0px -15px 15px;
}

#name_editor .input-bottom-border{
	width: 90% !important;
	margin-left: unset;
}

#name_editor button.btn.btn-light-red , #name_editor button.btn-blueDef{
	 margin: 25px 0px 10px 15px;
}

#batonBlock .note-des {
	width: 70%;
	margin-left: 10px;
}

#batonBlock .assign_baton {
	float: right;
	color: #10a5da;
	cursor: pointer;
}

#batonBlock .card-note {
	height: 50px;
	border-top: 1px solid #e6eaee;
	padding-top: 15px;
	color: #7b7b7b !important;
	font-size: 12px;
	display: inline-flex;
	width: 100%;
}
span.login_status {
    width: 100%;
    float: left;
    margin-top: 10px;
}

span.login_status.loggedIn {
	color: #00a777;
}

span.login_status.loggedOut {
	color: #d0021b;
}
.eventOff, .subadmin{
	background: #f8f7f7;
  /* pointer-events: none; */
	opacity: 0.15;
}
span#change_password {
    font-weight: 400;
    float: left;
    margin-top: 25px;
    color: #00a777;
    cursor: pointer;
		width: 100%;
}
#countrySelect{
	width: auto;
	height: 30px;
	background: #fff;
	border-color: #d8dde6;
}
